{% extends 'base.html' %}

{% block title %}Set New Password | ExamFlow{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card p-4 shadow-sm mt-5">
            <h3 class="text-center mb-3">Choose a New Password</h3>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-end">
                    <button type="submit" class="btn btn-primary">Update Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
